:root {
  --accent-color: #03a9f4;
  --grey-color: #626262;
  --link-color: #b4ad9e;
  --white-color: #ffffff;
  --primary-font-stack: "Playfair Display", serif;
  --font-link: "Ubuntu", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--primary-font-stack);
  padding-bottom: 70px;
}

/* SITE NAVIGATION Start*/
.mein-nav {
  padding-top: 76px;
  padding-bottom: 104px;
}

.main-menu li {
  display: inline-block;
}


.main-menu li:first-child {
  padding-left: 165px;
}

.main-menu li:last-child {
  padding-right: 165px;
}

.main-menu li:not(:last-child) {
  margin-right: 100px;
}

.item {
  list-style-type: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--grey-color);
  font-size: 14px;
  line-height: 1.7;
}

/* SITE NAVIGATION END*/

/* MAIN START */
.container {
  width: 900px;
  margin: 0 auto;
  font-size: 0;

}

.list-item:nth-child(2n + 1) {
  margin-right: 60px;
}

.list-item:nth-child(-n + 4) {
  margin-bottom: 130px;
}

.list-item {
  display: inline-block;
  width: 420px;
  margin: 0 auto;
  vertical-align: top;

}

.imeges {
  display: block;
  max-width: 100%;
  height: auto;
}

.main-link {
  display: block;
  text-transform: uppercase;
  color: var(--link-color);
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  text-decoration: none;
  font-family: var(--font-link);
  margin-top: 30px;
  margin-bottom: 24px;
  display: block;
}

.title {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 32px;
  color: var(--grey-color);
  line-height: 1.2;
}

.description {
  font-size: 14px;
  line-height: 1.7;
  color: var(--grey-color);
}

/* MAIN END*/

/* MAIN BUTTON START*/
.btn {
  width: 164px;
  height: 60px;
  border: solid 1px var(--grey-color);
  color: var(--grey-color);
  background-color: var(--white-color);
  font-size: 20px;
  line-height: 1.2;
  cursor: pointer;
  margin-top: 56px;
}

.wrapper {
  text-align: center;
}

/* MAIN BUTTON END*/